{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    {% if user.username == current_user.username %}
    <h1 class='mb-4 d-flex justify-content-center'>Your Team</h1>
    {% else %}
    <h1 class='mb-4 d-flex justify-content-center'>Current team for {{user.username}}</h1>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm card-header d-flex justify-content-center">
                Team name
            </div>
            <div class="col-sm card-header d-flex justify-content-center font-weight-bold">
                {{team.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm card-header d-flex justify-content-center">
                Primary driver
            </div>
            <div class="col-sm card-header d-flex justify-content-center font-weight-bold">
                {{team.primary_driver}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm card-header d-flex justify-content-center">
                Secondary driver
            </div>
            <div class="col-sm card-header d-flex justify-content-center font-weight-bold">
                {{team.secondary_driver}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm card-header d-flex justify-content-center">
                Constructor
            </div>
            <div class="col-sm card-header d-flex justify-content-center font-weight-bold">
                {{team.team}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm card-header d-flex justify-content-center">
                Score
            </div>
            <div class="col-sm card-header d-flex justify-content-center font-weight-bold">
                {{team.points}}
            </div>
        </div>
        {% if current_user.username == user.username %}
        <div class="text-center">
        <a href="{{url_for('users.update_user_team', username=current_user.username)}}" type="button" class="btn btn-info btn-lg mt-3 mb-2 text-center">Update!</a>
    </div>
    {% endif %}
    </div>
    
</div>
{% endblock content %}